<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:html="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
<meta charset="UTF-8">
<title>Divemotor</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet"
	href="path/to/material-design-iconic-font/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" href="@{/css/style.css}">

</head>
<body>
	<div class="header-area " style="background-color: rgb(0, 0, 0);">
		<div id="sticky-header" class="main-header-area ">
			<div class="container-fluid p-0"
				style="background-color: rgb(0, 0, 0);">
				<div
					class="row align-items-center justify-content-between no-gutters">
					<div class="col-xl-2 col-lg-2">
						<!--  aca va el logo   -->
						<li><a href="index.html"> <img class="divemotor"
								src="https://www.divemotor.com/img/logo.png"
								style="width: 125%; margin: 11% 0% 16% 0%;">

						</a></li>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--SideBar-->
	<div class="sidebar-container">
		<ul class="sidebar-navigation">


			<div style="text-align: center;">
				<div style="font-size: 450%;">
					<i class="zmdi zmdi-account-circle"></i>
				</div>
				<div style="font-size: 150%;">
					<p>Usuario</p>
				</div>

			</div>


			<li class="header" style="font-size: 100%;"><i
				class="zmdi zmdi-account-add"></i> menu1</li>
			<li><a th:href="@{/users/new}"> Usuario </a></li>
			<li><a th:href="@{/supervisor/list}"> Supervisores </a></li>
			<li><a th:href="@{/accountings/list}"> Encargados de
					Contabilidad </a></li>
			<li><a th:href="@{/supplier/list}"> Proveedores </a></li>

			<li class="header" style="font-size: 100%;">Menu2</li>
			<li><a th:href="@{/product/list}">Productos</a></li>

			<!--  <li><a th:href="@{/purchasefolder/list}"> Carpetas de Compra </a></li>-->

			<li><a th:href="@{/ordertype/list}"> Tipos de Orden </a></li>
			<li class="header" style="font-size: 100%;">Menu3</li>
			<li><a th:href="@{/supervisor/listWith}"> Solicitudes </a></li>
		</ul>
	</div>

	<!--Container-->
	<div class="content-container" style="margin-top: 6.4%;">
		<div class="container-fluid">
			<!-- Main component for a primary marketing message or call to action -->
			<nav
				class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

				<!-- Sidebar Toggle (Topbar) -->
				<button id="sidebarToggleTop"
					class="btn btn-link d-md-none rounded-circle mr-3">
					<i class="fa fa-bars"></i>
				</button>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown no-arrow">

						<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="btn btn-danger"
								onclick="document.getElementById('logoutForm').submit();"
								type="submit">Cerrar sesion</button>
						</form>
					</li>
				</ul>
			</nav>
			<div class="jumbotron">
				<h1 class="h3 mb-4 text-gray-800">Registrar Supervisor</h1>


				<div th:object="${supervisor}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/supervisor/save}" th:object="${supervisor}"
					method="post">

					<div class="form-group row">
						<label for="name" class="col-sm-2 col-form-label">Nombre</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{name}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="yearsExperience" class="col-sm-2 col-form-label">Años
							de experiencia</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{yearsExperience}"
								class="form-control" th:errorclass="'form-control alert-danger'" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('yearsExperience')}"
								th:errors="*{yearsExperience}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="phoneNumber" class="col-sm-2 col-form-label">
							Tel&eacute;fono</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{phoneNumber}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('phoneNumber')}"
								th:errors="*{phoneNumber}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="address" class="col-sm-2 col-form-label">
							Direcci&oacute;n</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{address}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Guardar" class="btn btn-secondary"></input>
							<a href="/supervisor/list" class="btn btn-danger">Cancelar</a>
						</div>
					</div>
					<p th:text="${mensaje}" class="form-text text-danger"></p>

				</form>



			</div>
		</div>
	</div>




</body>
</html>