<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>UPC-WEB</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/estilos2.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
</head>
<body>

	<div class="overlay" align="center">
		<div class="card border-light text-center">
			<div class="card-body" align="center">
				<form th:action="@{/login}" method="post">
					<div class="con">
						<header class="head-form">
							<h2>DIVEMOTOR</h2>
							<!--     A welcome message or an explanation of the login form -->
							<!--  <p>login here using your username and password</p>-->
						</header>
						<!--     End  header Content  -->
						<br>
						<div class="field-set">




							<div>
								<input type="text" name="username" id="txt-input"
									class="form-input" placeholder="usuario" autofocus required />
							</div>
							<span class="input-item"> <input type="password"
								name="password" id="pwd" class="form-input" placeholder="clave"
								required />

							</span>
						</div>


						<div>
							<input type="submit" class="log-in" id="loglog" value="Ingresar" />
						</div>
					</div>
				</form>
			</div>
		</div>



		<div align="center" class="col-sm-6">
			<div class="alert alert-success" th:if="${success != null}"
				th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}"
				th:text="${error}"></div>
			<div class="alert alert-info" th:if="${info != null}"
				th:text="${info}"></div>



		</div>
	</div>
</body>
</html>